<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'loop' %}" method="post">
        {% csrf_token %}
        Enter a value: <input type="text" name="num" id="num"><br><br>
        <input type="submit" value="generate"><br><br>
    </form>
    <h1>{{ list }}</h1>
</body>
</html> -->

<!DOCTYPE html>
<html>
<head><meta charset="utf-8"><title>Loop</title></head>
<body>
  <h1>Loop Example</h1>
  <form method="post">{% csrf_token %}
    <input type="number" name="num" placeholder="Enter n" value="{{ num|default:'' }}">
    <button type="submit">Generate</button>
  </form>

  {% for i in list %}
    {% if i>2 %}
    <h1>{{i}}</h1>
    {% endif %}
  {% endfor %}

</body>
</html>